<section class="my-5">
    <input type="search" class="form-control w-50 mx-auto my-4" placeholder="search...." [(ngModel)]="searchTerm">
    <div class="row justify-content-center align-items-center g-4">
        <div class=" col-md-6 col-lg-4 col-xl-3" *ngFor="let item of productsList | search :searchTerm">

            <div class="product  cursor-pointer">


                <a class="cursor-pointer fs-2 p-2 d-flex justify-content-end" *ngIf="!wishList.includes(item._id)"
                    (click)="addProductToWhishList(item._id)">
                    <i class="fa-solid fa-heart "></i>
                </a>

                <a class="cursor-pointer fs-2 p-2 d-flex justify-content-end " *ngIf="wishList.includes(item._id)"
                    (click)="removeProductFromWhishList(item._id)">
                    <i class="fa-solid fa-heart  text-danger"></i>
                </a>

                <div [routerLink]="['/details' , item._id]" class="px-3 ">
                    <img [src]="item.imageCover" class="w-100" [alt]="item.title">
                    <h3 class="h6 text-main">{{item.category.name}}</h3>
                    <h4 class="h6">{{item.title.split(' ').slice(0,2).join(' ')}}</h4>
                    <div class="d-flex justify-content-between">
                        <span>{{item.price}}</span>

                        <span><i class="fas fa-star rating-color"></i>{{item.ratingsQuantity}}</span>
                    </div>
                </div>
                <button class="btn-main w-100" (click)="AddtoMyCart(item._id)"><i class="fas fa-plus"></i> add to cart</button>
            </div>


        </div>
    </div>
</section>