<section class="w-75 bg-main-light mx-auto p-5 rounded my-5 shadow forgetPassword">
    <h2>Enter Emali to send code</h2>

    <form class="py-4" [formGroup]="forgetPassword" (ngSubmit)="sendCode(forgetPassword)">

        <div class="mb-2">
            <label for="email">email</label>
            <input type="email" class="form-control " id="email" formControlName="email">
            <p *ngIf="msgSuccess" class="text-main">{{msgSuccess}}</p>
        </div>

        <button class="btn-main float-end">

            send code
        </button>


    </form>
</section>


<section class="w-75 bg-main-light mx-auto p-5 rounded my-5 shadow verfiyCode d-none">
    <h2>Enter Emali to send code</h2>

    <form class="py-4" [formGroup]="verfiyCode" (ngSubmit)="verfiyResetCode(verfiyCode)">

        <div class="mb-2">
            <label for="code">code</label>
            <input type="text" class="form-control " id="code" formControlName="resetCode">
            <p *ngIf="msgCodeSuccess" class="text-main">{{msgCodeSuccess}}</p>
        </div>

        <button class="btn-main float-end">

            verfiy
        </button>


    </form>
</section>

