<section>
    <div class="row my-4 ">
        <div class="d-flex justify-content-between">
            <h3 class="text-main fw-bold">shopping Cart</h3>
            <button class="btn-main" routerLink="/payment">online payment</button>
        </div>
        <div class="col-md-10 m-auto my-5 bg-main-light shadow p-5">
          <div class="d-flex justify-content-between">
            <h4 class="text-main fw-bold"> Total Price : <span class="text-dark fw-light"> {{cartItem?.totalCartPrice}}</span></h4>
            <button class="btn btn-outline-danger"  (click)="RemoveAllCart()"><i class="far fa-trash-can"></i> Remove All</button>
          </div>
            <div class="row  justify-content-center align-items-center border-bottom py-2"
                *ngFor="let item of cartItem?.products">
                <div class="col-md-2">
                    <img [src]="item.product.imageCover" class="w-100" [alt]="item.title">
                </div>
                <div class="col-md-10 d-flex justify-content-between align-items-center">
                    <div>
                        <p>{{item.product.title}}</p>
                        <p>{{item.price}}</p>
                        <button class="btn btn-outline-danger" (click)="RemoveItem(item.product._id)"><i class="far fa-trash-can"></i> Remove</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-success" (click)="updateItemInCart(item.count+1 , item.product._id)"> + </button>
                        <span> {{item.count}} </span>
                        <button class="btn btn-outline-success" (click)="updateItemInCart(item.count-1 , item.product._id)"> - </button>
                    </div>
                </div>

            </div>

        </div>


    </div>

</section>