<section class="bg-main-light ">
    <div class="shadow-sm py-5 px-3">
        <h3>Get the freshCart App</h3>
    <p>we will send you a link , open it on your Phone</p>
    <div class="d-flex justify-content-around">
        <input type="email" class="form-control w-75" formControlName="email" placeholder="Email..">
        <button class="btn-main rounded">Share App Link</button>
    </div>
    </div>
    <div class="text-center p-3">
        <p><i class="far fa-copyright"></i> 2024 Bossy gad - All Right Reserved</p>
    </div>
    </section>
    
