<section class="bg-main-light my-5 py-5">

    <h1 class="text-main">All orders</h1>

    <div *ngIf="orders.length > 0" class="table-responsive  border border-3 border-light rounded m-3">
   
        <table class="table mb-1">
            <thead>
                <tr>
                    <th colspan="5">Orders</th>
                </tr>
            </thead>
    
            <tbody class=" text-center">
                <tr class="table-light fw-bolder">
                    <td>No.</td>
                    <td>Total</td>
                    <td>isPaid</td>
                    <td>isDelivered</td>
                    <td>Action</td>
                </tr>
    
                <tr *ngFor="let order of orders; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{order.totalOrderPrice}} EGP</td>
                    <td><span
                            [class]="order.isPaid ? ' font-sm bg-success-subtle p-1 text-success rounded fw-bolder' : ' font-sm bg-info p-1  rounded fw-bolder'">{{order.isPaid}}</span>
                    </td>
                    <td><span
                            [class]="!order.isDelivered ? ' font-sm bg-danger-subtle p-1 text-danger rounded fw-bolder' : ' font-sm bg-success-subtle p-1 text-success rounded fw-bolder ' ">{{order.isDelivered}}</span>
                    </td>
                    <td>
                        <button class="btn bg-main text-white d-block mx-auto" routerLink="/ordersDetail">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
    
            <tfoot>
                <td colspan="5">
                    <p class="text-primary  fw-bolder fs-6 my-1 ms-2 cursor-pointer" routerLink="/products"> New
                        Orders
                        <i class="fab fa-plus"></i>
                    </p>
                </td>
            </tfoot>
        </table>
    </div>
    
</section>