<section class="w-75 bg-main-light mx-auto p-5 rounded my-4 shadow">
    <h1>login now</h1>
    
    <form [formGroup]="ResetForm" (ngSubmit)="handleResetForm()" class="py-3">
        <div class="mb-2">
            <label for="email">email: </label>
            <input type="email" class="form-control " id="email" formControlName="email">
            <div class="email-erorrs text-danger" *ngIf="ResetForm.get('email')?.errors && ResetForm.get('email')?.touched">
                <p *ngIf="ResetForm.get('email')?.getError('required')">email is required</p>
                <p *ngIf="ResetForm.get('email')?.getError('email')" >email is invalid</p>
                
            </div>
        </div>
        <div class="mb-2">
            <label for="newPassword">new password: </label>
            <input type="password" class="form-control " id="newPassword" formControlName="newPassword">
            <div class="password-erorrs text-danger" *ngIf="ResetForm.get('newPassword')?.errors && ResetForm.get('newPassword')?.touched">
                <p *ngIf="ResetForm.get('newPassword')?.getError('required')">password is required</p>
                <p *ngIf="ResetForm.get('newPassword')?.getError('pattern')" >password must start with upperCase then from 6 to 10</p>
            
            </div>
        </div>
       
    <button [disabled]="ResetForm.invalid" class="btn-main float-end my-2">
        <i *ngIf="isLoanding" class="fas fa-spinner fa-spin"></i>
        reset Password
    </button>
    <p *ngIf="msgError" class="text-danger">{{msgError}}</p>  
    
    </form>
    </section>
    
